
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/


#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
# Ignore build output directories
/build/
/temp/

# Ignore Cocos Creator specific files
library/
local/

# Ignore user-specific files
settings/
*.user.json

# Ignore system and IDE files
.DS_Store
.vscode/
